html, body{
    width: 100vw;
    height: 100vh;
}

body{
    margin: 0px;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container .secondGrid{
    width: 500px;
    height: 500px;
    padding: 10px;
    border: 3px double orange;
    position:absolute;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
    display: grid;
    grid-template-areas:"header header header"
                        "main main footer"
                        "main main footer";
    gap: 15px;
}

.container .secondGrid > div{
    border: 1px solid black;
}

.container .secondGrid #sOne{
    grid-area: header;
}

.container .secondGrid #sTwo{
    grid-area: main;
}

.container .secondGrid #sThree{
    grid-area: footer;
}

.container .gridOne{
    width: 400px;
    height: 400px;
    padding: 10px;
    border: 1px dashed grey;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.container .gridOne > div{
    border: 1px dotted green;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .gridOne #two{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;   
}

.container .gridOne #three{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}