html, body{
    width: 100vw;
    height: 100vh;
}

body{
    margin: 0px;
}

.container .secBlock{
    padding: 10px;
    border: 1px solid black;
    color: rebeccapurple;
    transition-property: color;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.container .thirdBlock{
    padding: 20px;
    border: 1px ridge rgb(97, 86, 65);
    color: thistle;
    font-size: large;
}

.container .secBlock:hover{
    color: red;
    text-decoration: line-through dashed black;
}
